///////////////////////////////////////
// css theme variables / settings


// $font-family:  'Proximanova', 'helvetica neue', helvetica, sans-serif;
$font-family:  arial, sans-serif;

$font-size: 16px;
$text-color: #454547;
$link-color: #454547;



// breakpoints

$mobile: 375px;
$phablet: 414px;
$tablet: 600px;
$desktop: 1200px;
