///////////////////////////////////////
// css theme variables / settings


$font-family:  'Proximanova', 'helvetica neue', helvetica, sans-serif;

$font-size: 18px;
$text-color: #5e5e5e;
$link-color: #5e5e5e;



// breakpoints

$mobile: 375px;
$phablet: 414px;
$tablet: 600px;
$desktop: 1200px;
