<p class="site-title"><a href="/">{{ site.title }}</a></p>

<ul class="nav">
  {% for item in site.nav %}
    {% if (page.url == item.href or (item.href contains "/notes" and page.url contains "/notes/"))  %}
      {% assign li_attribute = 'class="nav__item nav__item--current"' %}
    {% else %}
      {% assign li_attribute = 'class="nav__item"' %}
    {% endif %}
    {% if item.href contains 'http' %}
       <li {{ li_attribute }}><a href="{{ item.href }}">{{ item.title }}</a></li>
    {% else %}
       <li {{ li_attribute }}><a href="{{ item.href | relative_url }}">{{ item.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
